{% if habilidades_dev or habilidades_cgi %}
<!-- ......... SECCION HABILIDADES ......... -->
<div class="py-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <h2>Habilidades</h2>
        <hr/>
        <div class="row">
            <section class="col-6">
                {% for h_dev in habilidades_dev %}
                <label>{{ h_dev.nombre }}</label>
                <div class="progress">
                    <div class="progress-bar progress-striped" role="progressbar"
                         style="width:{{ h_dev.porcentaje }}%;"
                         aria-valuenow="{{ h_dev.porcentaje }}"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        {{ h_dev.porcentaje }}%
                    </div>
                </div>

                {% endfor %}
            </section>
            <section class="col-6">
                {% for h_cgi in habilidades_cgi %}
                <label>{{ h_cgi.nombre }}</label>
                <div class="progress">
                    <div class="progress-bar progress-striped" role="progressbar"
                         style="width:{{ h_cgi.porcentaje }}%;"
                         aria-valuenow="{{ h_cgi.porcentaje }}"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        {{ h_cgi.porcentaje }}%
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
<!-- ......... FIN SECCION HABILIDADES ......... -->
{% endif %}
