{% load staticfiles %}
<!-- ......... SECCION PORTAFOLIO ......... -->
<div class="py-5 bg-dark text-white" id="portafolio">
    <div class="container">
        <div data-aos="fade-up" data-aos-duration="1000">
            <h2>Portafolio</h2>
            <hr class="mb-5"/>
        </div>
        <section class="row">
            <div class="col-6 text-center" data-aos="fade-right" data-aos-duration="1500">
                <i class="material-icons" style="font-size: 4em;">video_label</i>
                <h3>Audiovisual</h3>
                <div class="row mt-5">
                    <div class="col-6 my-1">
                        <img class="img-fluid" src="https://miro.medium.com/max/1350/1*6xGReriK96-Cc7gBtXJGkA.png"
                             alt="">
                    </div>
                    <div class="col-6 my-1">
                        <img class="img-fluid" src="https://miro.medium.com/max/1350/1*6xGReriK96-Cc7gBtXJGkA.png"
                             alt="">
                    </div>
                    <div class="col-6 my-1">
                        <img class="img-fluid" src="https://miro.medium.com/max/1350/1*6xGReriK96-Cc7gBtXJGkA.png"
                             alt="">
                    </div>
                    <div class="col-6 my-1">
                        <img class="img-fluid" src="https://miro.medium.com/max/1350/1*6xGReriK96-Cc7gBtXJGkA.png"
                             alt="">
                    </div>
                    <div class="p-2 col-12 mt-2">
                        <a class="material-icons">add_circle</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center" data-aos="fade-left" data-aos-duration="2000">
                <a class="material-icons" style="font-size: 4em;">code</a>
                <h3>Desarrollo</h3>
                <div class="row mt-5">
                    <div class="col-12">
                        <img class="img-fluid" src="https://miro.medium.com/max/1350/1*6xGReriK96-Cc7gBtXJGkA.png"
                             alt="">
                        <div class="p-2 col-12 mt-2">
                            <a class="material-icons">add_circle</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- ......... FIN SECCION PORTAFOLIO ......... -->