{% load staticfiles %}
    <!-- Menú .......... -->
    <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark">
        <!--<a class="navbar-brand" href="#">TT</a>-->
        <button class="material-icons navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapseMenu"
                aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            menu
        </button>
        <div class="collapse navbar-collapse" id="collapseMenu">
            <ul class="navbar-nav mx-auto row text-center">
                <!--<li class="nav-item active col-3">
                    <a class="nav-link" href="#">Inicio</a>
                </li>-->
                <li class="nav-item col-4">
                    <a class="nav-link" href="#descripcion">Conóceme</a>
                </li>
                <li class="nav-item col-4">
                    <a class="nav-link" href="#portafolio">Portafolio</a>
                </li>
                <!--<li class="nav-item col-2">
                    <a class="nav-link" href="#">Contacto,</a>
                </li>-->
                <li class="nav-item col-4">
                    <a class="nav-link" href="{% url 'articulos' %}">Labs</a>
                </li>
                <!--<li class="nav-item col-2">
                    <a class="nav-link" href="#">CV</a>
                </li>-->
            </ul>
        </div>
    </nav>
    <!-- Fin Menú .......... -->