<!doctype html>
{% load staticfiles %}
<html lang="es">
<head>
    <title>TT</title>
    {% include 'layout/head/meta.html' %}
    {% include 'layout/head/icons.html' %}
    {% include 'layout/head/fonts.html' %}
    {% include 'layout/head/css.html' %}
    {% include 'layout/head/scripts.html' %}
</head>
<body>
{% include 'layout/body/nav.html' %}
{% block contenido %}

    {% include 'layout/body/slider.html' %}

    <div class="py-5 text-white" style="background: #7095FF;"
         id="descripcion">
        <div class="container text-justify" data-aos="fade-up" data-aos-duration="1000">
            Soy desarrollador web egresado de la carrera Analista Programador Computacional.
            Quiero convertirme en un desarrollador Full Stack. Busco especializarme en Python
            y aprender React Native para todo lo referente al mundo mobile.
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <!--<h2>CV</h2>-->
            <section class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <figure class="col-12">
                    <a><img class="img-fluid" style="width: 100px; height: 100px;"
                            src="{% static 'img/logo/logo_black.png' %}"></a>
                </figure>
            </section>
            <hr class="my-5"/>
            <section class="row d-flex justify-content-center">
                <figure class="col-4 col-sm-2 text-center" data-aos="fade-left" data-aos-duration="1000">
                    <a href="{% static 'files/CV_sp.pdf' %}">
                        <img class="img-fluid"
                             src="{% static 'img/icons/elements/cv_icon_dev.png' %}"/>
                        <div class="text-center">
                            <p>CV Desarrollador</p>
                        </div>
                    </a>
                </figure>
                <figure class="col-4 col-sm-2 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <a href="{% static 'files/CV_sp.pdf' %}">
                        <img class="img-fluid"
                             src="{% static 'img/icons/elements/cv_icon.png' %}"/>
                        <div class="text-center">
                            <p>CV Completo</p>
                        </div>
                    </a>
                </figure>
                <figure class="col-4 col-sm-2 text-center" data-aos="fade-right" data-aos-duration="1000">
                    <a href="{% static 'files/CV_sp.pdf' %}">
                        <img class="img-fluid"
                             src="{% static 'img/icons/elements/cv_icon_ani.png' %}"/>
                        <div class="text-center">
                            <p>CV Animador Digital y Multimedia</p>
                        </div>
                    </a>
                </figure>


            </section>
        </div>
    </div>

    <!-- ......... SECCION MEDIOS SOCIALES ......... -->
    {% if medios_sociales %}
        <div class="py-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
                <h2>Medios Sociales</h2>
                <hr/>
                <section class="row">
                    {% for m_soc in medios_sociales %}
                        <!-- LINKEDIN .......... -->
                        {% if m_soc.nombre == 'LI' %}
                            <figure class="col-1">
                                <a href="{{ m_soc.enlace }}"><img class="img-fluid"
                                                                  src="https://image.flaticon.com/icons/png/512/61/61109.png"/></a>
                            </figure>
                        {% endif %}
                        <!-- FACEBOOK .......... -->
                        {% if m_soc.nombre == 'FB' %}
                            <figure class="col-1">
                                <a href="{{ m_soc.enlace }}"><img class="img-fluid"
                                                                  src="https://image.flaticon.com/icons/png/512/33/33702.png"/></a>
                            </figure>
                        {% endif %}

                        <!-- INSTAGRAM .......... -->
                        {% if m_soc.nombre == 'IG' %}
                            <figure class="col-1">
                                <a href="{{ m_soc.enlace }}"><img class="img-fluid"
                                                                  src="https://www.nicepng.com/png/full/15-150003_svg-png-instagram-icon-black-png.png"/></a>
                            </figure>
                        {% endif %}

                        <!-- WHATSAPP .......... -->
                        {% if m_soc.nombre == 'WA' %}
                            <figure class="col-1">
                                <a href="{{ m_soc.enlace }}"><img class="img-fluid"
                                                                  src="https://www.shareicon.net/data/512x512/2017/03/07/880647_media_512x512.png"/></a>
                            </figure>
                        {% endif %}

                    {% endfor %}
                </section>
            </div>
        </div>
    {% endif %}
    <!-- ......... FIN SECCION MEDIOS SOCIALES ......... -->

    <!-- ......... SECCION HABILIDADES ......... -->
    <div class="py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <h2>Habilidades</h2>
            <hr/>
            <div class="row">
                <section class="col-6">
                    {% for h_dev in habilidades_dev %}
                        <label>{{ h_dev.nombre }}</label>
                        <div class="progress">
                            <div class="progress-bar progress-striped" role="progressbar"
                                 style="width:{{ h_dev.porcentaje }}%;"
                                 aria-valuenow="{{ h_dev.porcentaje }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                {{ h_dev.porcentaje }}%
                            </div>
                        </div>

                    {% endfor %}
                </section>
                <section class="col-6">
                    {% for h_cgi in habilidades_cgi %}
                        <label>{{ h_cgi.nombre }}</label>
                        <div class="progress">
                            <div class="progress-bar progress-striped" role="progressbar"
                                 style="width:{{ h_cgi.porcentaje }}%;"
                                 aria-valuenow="{{ h_cgi.porcentaje }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                {{ h_cgi.porcentaje }}%
                            </div>
                        </div>

                    {% endfor %}

                </section>
            </div>
        </div>
    </div>


    <!--<section class="col-6">
        <label>HTML/CSS</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                 aria-valuemin="0"
                 aria-valuemax="100">85%
            </div>
        </div>
        <label>Django</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                 aria-valuemin="0"
                 aria-valuemax="100">50%
            </div>
        </div>
        <label>Python</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35"
                 aria-valuemin="0"
                 aria-valuemax="100">35%
            </div>
        </div>
        <label>API REST</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15"
                 aria-valuemin="0"
                 aria-valuemax="100">15%
            </div>
        </div>
        <label>Bootstrap 4</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                 aria-valuemin="0"
                 aria-valuemax="100">80%
            </div>
        </div>
        <label>Drupal 7</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                 aria-valuemin="0"
                 aria-valuemax="100">90%
            </div>
        </div>
        <label>Wordpress</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                 aria-valuemin="0"
                 aria-valuemax="100">85%
            </div>
        </div>
        <label>JAVA</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                 aria-valuemin="0"
                 aria-valuemax="100">20%
            </div>
        </div>
        <label>PHP</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15"
                 aria-valuemin="0"
                 aria-valuemax="100">15%
            </div>
        </div>
    </section>
    <section class="col-6">
        <label>Autodesk Maya</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                 aria-valuemin="0"
                 aria-valuemax="100">85%
            </div>
        </div>
        <label>Adobe Photoshop</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                 aria-valuemin="0"
                 aria-valuemax="100">95%
            </div>
        </div>
        <label>Adobe Ilustrator</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                 aria-valuemin="0"
                 aria-valuemax="100">90%
            </div>
        </div>
        <label>Adobe After Effects</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                 aria-valuemin="0"
                 aria-valuemax="100">75%
            </div>
        </div>
        <label>Adobe Premier/AVID/Vegas</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                 aria-valuemin="0"
                 aria-valuemax="100">90%
            </div>
        </div>
        <label>Toon Boom Harmony</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                 aria-valuemin="0"
                 aria-valuemax="100">50%
            </div>
        </div>
        <label>Adobe Animate</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                 aria-valuemin="0"
                 aria-valuemax="100">70%
            </div>
        </div>
    </section>-->
    <!-- ......... FIN SECCION HABILIDADES ......... -->

    <!-- ......... SECCION CONTACTO ......... -->
    <div class="py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">Contacto</div>
    </div>
    <!-- ......... FIN SECCION CONTACTO ......... -->
    <!-- ......... SECCION PORTAFOLIO ......... -->
    <div class="py-5" id="portafolio">
        <div class="container" data-aos="fade-up" data-aos-duration="1000">
            <h2>Portafolio</h2>
            <hr/>
            <section class="row">
                <div class="col-6 text-center">
                    <i class="material-icons" style="font-size: 4em;">video_label</i>
                    <h3>Audiovisual</h3>
                </div>
                <div class="col-6 text-center">
                    <a class="material-icons" style="font-size: 4em;">code</a>
                    <h3>Desarrollo</h3>
                    <img class="img-fluid" src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png"
                         style="width: 50%;">
                </div>
            </section>
        </div>
    </div>
    <!-- ......... FIN SECCION PORTAFOLIO ......... -->

    <!-- ......... SECCION PROYECTOS ......... -->
    <div class="py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <h2>Proyectos</h2>
            <hr/>
            <section class="row">
                <div class="col-6">
                    <h3>Audiovisuales</h3>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="http://www.salvadornativo.cl/media/producto/Posavasos_Picoyo_por_unidad.jpg"
                                     class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">José Cueros</h5>
                                    <p class="card-text text-justify text-secondary">Descripción</p>
                                    <p>
                                        <span class="badge badge-pill badge-secondary">Categoría</span>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted badge badge-pill badge-warning">Costo: $4000
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h3>Desarrollo</h3>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="http://www.salvadornativo.cl/media/producto/Posavasos_Picoyo_por_unidad.jpg"
                                     class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Lista2!</h5>
                                    <p class="card-text text-justify text-secondary">Descripción</p>
                                    <p>
                                        <span class="badge badge-pill badge-secondary">Categoría</span>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted badge badge-pill badge-warning">Costo: $4000
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- ......... FIN SECCION PROYECTOS ......... -->
{% endblock contenido %}
<!-- ......... SECCION FOOTER ......... -->
<div class="bg-dark pt-4 pb-2 text-white">
    <div class="container">
        <section class="row">
            <div class="col-4">
                Navegación del sitio
                <hr class="my-2" style="border: 1px solid #AEAEAE;"/>
                <small>
                    <ul>
                        <li>Conóceme</li>
                        <li>Medios Sociales</li>
                        <li>Habilidades</li>
                        <li>Contacto</li>
                        <li>Portafolio</li>
                        <li>Proyectos</li>
                        <li>Labs</li>
                    </ul>
                </small>
            </div>


            <div class="col-4">
                Otros Sitios
                <hr class="my-2" style="border: 1px solid #AEAEAE;"/>
                <small>
                    <ul>
                        <li>Noema</li>
                        <li>RELEH</li>
                    </ul>
                </small>
            </div>


            <div class="col-4">
                Datos de contacto
                <hr class="my-2" style="border: 1px solid #AEAEAE;"/>
                <small>
                    <ul>
                        Whatsapp
                        Facebook
                        Instagram
                        Pinterest
                        Linkedin
                        Devian Art
                        Behance
                    </ul>
                </small>
            </div>

        </section>
        <div class="text-center">
            <small>Código del Sitio - Licencia Creative Commons - Diseño y Desarrollo Jorge Tatán García</small>
        </div>
    </div>

</div>

<!-- ......... FIN SECCION FOOTER ......... -->


{% include 'layout/body/scripts.html' %}
</body>
</html>